body {
    padding: 25px;
    background-image: url(daisy.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%; 
    height: 100vh; 
    margin: 0; 
}

header {
    border: 2px solid black;
    background-color: #FFCCFF; /* Medium blue header */
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff; /* Link color */
    text-decoration: none;
    padding: 20px;
    text-align: center;
        }

 nav a:hover {
    text-decoration: underline;
}

        
footer {
    background-color: #004080; /* Darker blue footer */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    header, footer {
        padding: 15px;
    }

    nav a {
        padding: 10px;
    }
}

