 background-image: url("waterfall2.jpg");
    background-size: cover; /* Adjusts image to cover entire area */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-position: center; /* Centers the image */
