body {
    padding: 25px;
    background: url(daisy.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

header {
    background-color: #0066cc; /* Medium blue header */
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #0066cc; /* Link color */
    text-decoration: none;
    padding: 10px;
        }

 nav a:hover {
    text-decoration: underline;
}

        
footer {
    background-color: #004080; /* Darker blue footer */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
